@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    border: 1px solid black;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    grid-gap: 1px;
      
}


header {
    background-color: red;
    grid-area: 1 / 1 / 2 / 3;
}

menu {
    background-color: green;
    grid-area: 2 / 1 / 3 / 3;
}

article {
    background-color: blue;
    grid-area: 3 / 1 / 4 / 2;
}

aside {
    background-color: orange;
    grid-area: 3 / 2 / 4 / 3;
}

footer {
    background-color: yellow;
    grid-area: 4 / 1 / 5 / 3;

}