@charset "UTF-8";

body {
    font: normal 1em Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    color: darkgreen;
}

h2 {
    font-size: 1.5em;
    color: green;
}

#titulo-principal {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.topico {
    text-align: right;
}

.texto {
    text-align: justify;
}