@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 0px #1526a7;
}