@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

@font-face {
    font-family: Chandia;
    src: url('fonts/Chandia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
    font: normal normal 2em 'Lavishly Yours', cursive;
}

body {
    background-image: linear-gradient(to right, #0000ff, #ffffff, #ff0000);
    font-family: 'BBH Bartle', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1 {
    font-family: 'BBH Bartle', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(24, 97, 126);
    font-size: 2em;
}

h2 {
    font-family: 'Chandia', serif;
    color: rgb(33, 136, 161);
    font-size: 2em;
}