@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte1);
}

header {
    background-color: black;    
    text-align: center;
    padding-top: 50px;
    border-color: black;
}
header h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    color: white;
}
 header p {
    font-size: 1.0em;
    color: white;
    padding-bottom: 50px;
    background-color: black;

 }
 header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }
 header a:hover {
    text-decoration: underline;
 }
 section p {
    font-family: var(--fonte3);
    font-size: 3.5vw;
 }
 section.fundobranco {
    padding: 55px 0px 55px 30px;
    background-color: white;
 }
 section.img1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed; 
    padding: 55px 0px 55px 30px;
    color: white;
    background-size: cover;
 }
 section.img1 p {
    background-color: rgba(0, 0, 0, 0.473);
    padding-right: 100px;
 }
 section.img2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    padding: 55px 0px 55px 30px;
    color: white;
    background-size: cover;
 }
 section.img2 p {
    background-color: rgba(0, 0, 0, 0.473);
    padding-right: 100px;
 }
 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
 }
 footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
 footer a:hover {
    text-decoration: underline;
}
