@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
}

header {
    font-family: 'Passion One', sans-serif;
    font-size: 4em;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-color: black;
}
 header p {
    font-size: 0.5em;

 }
